#header{
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-top: 7%;
}
.menu_main{
	width: 75%;
	height: auto;
	margin: 0 auto;
	text-align: center;
}
.menu_main li a{
	color: #444444;
	text-decoration: none;
}
.menu_main li a:hover{
	color: #CCCCCC;
}

.menu_main li{
	margin-left: 3%;
	padding-right: 7%;
	float: left;
	list-style: none;
}
.clear{
	clear: both;
}
.detail li a{
	color: #CCCCCC;
}
.detail li{
	padding-right: 7.9%;
}
.main{
	width: 100%;
}
.slide1{
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 7%;

}
.khoi_anh img{
	position: absolute;
	float: left;
}
.nut_ofslide1{
	position: absolute;
	margin-top: 6%;
	left: 8%;
	z-index: 10;
}
.nut_ofslide1 button{
	background-color: #CC9933;
	color: white;
}
.text_conten{
	width: 100%;
	position: absolute;
	z-index: 100;
}
.td{
	width: 30%;
	margin: 0 auto;
	float: left;
}