*{
	padding: 10px 2px  0px 2px;
	margin: 0;
}
 .galleryContainner{
 	width: 100%;
 	height: 700px;
 	max-width: 1500px;
 	padding: 10px;
 	margin: 0 auto;
}
 .slideShowContainer{
 	width: 100%;
 	height: 90%;
 	overflow: hidden;
 	position: relative;
}
 .imagesHolder{
 	width: 100%;
 	height: 100%;
 	position: absolute;
}
 .imagesHolder img{
 	width: 100%;
 	height: 100%;
}	
 .arrow{
	width: 100%;
	position: absolute;
	top: 50%;
	z-index: 10;
}
.arrow span{
	color: black;
	font-size: 50px;
	padding-bottom: 1%;
}
#btn-pre{
	position: absolute;
	top: 40%;
	left: 3%;
	z-index: 10;
	cursor: pointer;
	opacity: 0.5;
}
#btn-pre:hover{
	border-radius: 20%;
	background-color: rgb(240,248,255);
}
#btn-next{
	position: absolute;
	top: 40%;
	right: 3%;
	z-index: 10;
	cursor: pointer;
	opacity: 0.5;
}
#btn-next:hover{
	border-radius: 20%;
	background-color: rgb(240,248,255);
}
.dots{

	position: absolute;
	z-index: 1000;
	right: 9%;
	bottom: 20%;
}
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: white;
    border-radius: 30%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}